p {
  font-family: 'Poiret One', cursive;
}
h1 {
  font-family: 'Sniglet', cursive;
}
footer {
  min-height: 20vh;
  background-color: #343a41;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
li {
  list-style-type: none;
}
.btn-primary {
  background-color: #005065;
}

.newProducts {
  min-height: 95vh;
  background-color: #005065;
}

.navbar {
  background-color: #ffc209;
}

.logoDark {
  height: 10vh;
  width: 10vh;
}

.logoDarkFooter {
  height: 15vh;
  width: 15vh;
}
.NewProduct {
  min-height: 50vh;
}

.imgTab {
  height: 12%;
  width: 12%;
}

#cardNewProductsHigh {
  display: flex;
  justify-content: space-evenly;
}
@media only screen and (min-width: 813px) {
  /* tablettes paysages et ordinateurs */
  .imgCar {
    height: 90vh;
    width: 100%;
  }
  .productPortrait {
    display: none;
  }
}
@media only screen and (max-width: 812px) {
  /* smartphone mode paysage*/
  .newProducts {
    min-height: 130vh;
  }
  .imgCar {
    height: 90vh;
    width: 100%;
  }

  .logoDark {
    height: 9vh;
    width: 9vh;
  }
}
@media only screen and (max-width: 1024px) and (orientation: portrait) {
  /* Tablette en mode portait */
  .imgCar {
    height: 30vh;
    width: 100%;
  }
  .logoDark {
    height: 6vh;
    width: 6vh;
  }
  .newProducts {
    display: none;
  }
  .productPortrait {
    background-color: #005065;
    min-height: 70vh;
  }
}
@media only screen and (max-width: 767px) and (orientation: portrait) {
  /* smartphone en mode portait */
  footer {
    display: flex;
    flex-direction: column;
  }
  .imgCar {
    height: 30vh;
    width: 100%;
  }
  .logoDark {
    height: 4vh;
    width: 4vh;
  }
  .logoDarkFooter {
    display: none;
  }
  .newProducts {
    display: none;
  }
  .productPortrait {
    background-color: #005065;
    min-height: 50vh;
    width: 100%;
  }
}
